<div class="row">    
    <div class="col-md-6">
        <h2 class="text-info">Create Product</h2>
        <div class="p-4 border rounded">
            <form>
                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input type="text" id="productName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input type="text" id="Price" class="form-control">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control">
                        <option selected value="">Select Category</option>
                        <option [value] = "cat.id" 
                        *ngFor= "let cat of categoryList">{{cat.categoryName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Image Url</label>
                    <input type="text" id="imageUrl" class="form-control">
                </div>

                <button class="btn btn-success">Save</button>
                &nbsp;
                <a class="btn btn-info">Back to List</a>
            </form>
        </div>
    </div>
</div>
